.carddetails{
    background-image: linear-gradient(to right, #C504B6, #4B038E);
    opacity: 0.89;
    border-radius: 15px;
    z-index: 100;
	width:75vw;
    left:10%;
	position: absolute;
	padding:5px;
    bottom: -100px;
	animation: fadeIn ease-in-out 2s  1  forwards;
}
@keyframes fadeIn {
	0%{
		opacity:0;
	}
	100%{
		opacity: 0.8;
	}
}
.card-header{
    color:white;
    font-size: 1.5rem;
    display:flex;
    justify-content: space-between;
}
.card-body{
}
.card-box{
    background-color: white;
    margin:5px;
    text-align: center;
    border-radius: 15px;
    height: 60px;
}

@media screen and (min-width:1400px){
    .carddetails{
        bottom:32px;
    }
    .card-box{
        font-size: 1.2rem;
        font-weight: 600;
        height: 4rem;
    }
}
@media screen and (min-width:1700px){
    .carddetails{
        bottom:32px;
    }
    .card-box{
        font-size: 1.5rem;
        height:5rem;
        font-weight: 600;
    }
}
@media screen and (max-width:1399px){
    .carddetails{
        bottom:0px;
    }
    .card-body{
        font-size:1rem;
        font-weight: 500;
    }
}
@media screen and (max-width:1060px){
    .carddetails{
        bottom:7.5rem;
    }
}
@media screen and (max-width:500px){
.card-box{
    height:30px;
    font-size: 0.7rem;
}
.carddetails{
    bottom: 15px;
}
}
@media screen and (max-width:350px){
    .carddetails{
        bottom: -119px;
    }
}